<div class="col-md-12">
    <h3>Crear Seccion</h3>
  </div>
  <div class="col-md-6">
    <form autocomplete="off" (ngSubmit)="fnUpdate(perfilForm.value)">
      <div class="form-group">
        <label for="name">Session Name:</label>
        <input id="name" type="text" class="form-control" placeholder="Nombre o Alias..." />
      </div>
      <div class="form-group">
        <label for="profesor">Profesor:</label>
        <input id="profesor" type="text" class="form-control" placeholder="Profesor..." />
      </div>
      <div class="form-group">
        <label for="duracion">Duracion:</label>
        <select class="form-control">
          <option value="">seleccione la duracion...</option>
          <option value="1">30 mins</option>
          <option value="2">1 Hora</option>
          <option value="3">Medio dia</option>
          <option value="4">Todo el dia</option>
        </select>
      </div>
      <div class="form-group">
        <label for="descripcion">Descripcion:</label>
        <textarea id="Descripcion" rows=3 class="form-control" placeholder="Descripcion..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-default">Cancelar</button>
    </form>
  </div>